#container {
	border: 1px solid black;
	width: 50%;
	margin: auto;
}

#add {
	text-align: center;
}

#todo {
	border: 1px solid black;
}

#achieve {
	border: 1px solid black;
}

li {
	list-style-type: none; 
}

h3 {
	text-align: center;
}
